pymongo
yt-dlp
youtube-search-python
pyrogram
aiofiles
Pillow=12.0.0
TgCrypto=1.2.5
py-tgcalls
ntgcalls==2.0.6
python-dotenv=1.2.1
aiohttp=3.13.2
attrs=25.4.0
multidict=6.7.0
frozenlist=1.8.0
yarl=1.22.0
pyaes==1.6.1
pysocks==1.7.1
aiohappyeyeballs>=2.5.0
aiosignal>=1.4.0
propcache>=0.2.0
idna>=2.0
typing-extensions>=4.2
