pymongo
yt-dlp
youtube-search-python
pyrogram
aiofiles
Pillow
TgCrypto
py-tgcalls
ntgcalls==2.0.6
python-dotenv
aiohttp
attrs
multidict
frozenlist
yarl
pyaes==1.6.1
pysocks==1.7.1
aiohappyeyeballs
aiosignal
propcache
idna
typing-extensions
