aiofiles
aiohttp>=3.8.1
attrs
frozenlist
multidict
yarl
pymongo
yt-dlp
youtube-search-python
pyrogram==2.0.106
Pillow
TgCrypto
git+https://github.com/pytgcalls/pytgcalls.git#egg=pytgcalls
git+https://github.com/pyrogram/tgcalls.git#egg=tgcalls
ntgcalls==2.0.6
python-dotenv
